<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome in the AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body ng-app="PopQuizApp">
    <div ng-controller="controllerName as ctrl">
       Name: <input type="text" ng-model="ctrl.search">
        <table border=1>
            <tr>
              <th>ID<button ng-click="ctrl.sortBy('id')">sort</button></th>
              <th>Name<button ng-click="ctrl.sortBy('name')">sort</button></th>
            </tr>
            <tbody>
                <!-- Filter and orderBy to be inserted in ng-repeat -->
                <tr ng-repeat="item in ctrl.items |  orderBy: ctrl.propertyName: ctrl.reverse | filter: ctrl.search">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<script src="/app/app.module.js"></script>
<script src="/app/filter.controller.js"></script>

